<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="../js/renderCourses.js"></script>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/magic.min.css" />
    <link href="../css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
<img src="../img/bg.jpg" alt="Background Image" class="bg-img">
<nav>
    <h1>I LOVING CODING</h1>
    <ul>
        <li><a href="students.html">Students</a></li>
        <li><a href="instructors.html">Instructors</a></li>
        <li><a href="../index.html">Courses</a></li>
        <li><a href="signUp.html"><button class="sign-up">Sign up</button></a></li>
        <li><a href="signIn.html"><button class="sign-in">Sign in</button></a></li>
    </ul>
</nav>

<div class="container">
    <h1>课表</h1>
    <input type="text" id="search-box" placeholder="Class To Search">
    <button id="search-btn">Search</button>

    <div class="classes-container">
        <div class="class">
            <div class="class-content">
                <p style="margin-top: 10px">Class size: 10</p>
                <p class="TA"><span>TA:&nbsp</span> <span>Michael</span><span>Michael</span><span>Michael</span><span>Michael</span><span>Michael</span></p>
                <p>Course Length: 32hours</p>
                <p>Number of student: 30</p>
                <ul >
                    <li>HTML</li>
                    <li>JAVASCRIPT</li>
                    <li>JAVASCRIPT</li>
                    <li>JAVASCRIPT</li>

                </ul>
            </div>

            <div class="shell magictime" data-hover="puffOut" data-return="puffIn">
                <div class="bg-helper"></div>
                <img src="../img/profile.jpg" alt="" class="class-bg">
                <h1>前端开发第99期</h1>
                <h2>Instructor: Yan Hong</h2>
                <h3 class="start-date">Start Date: 08/08/2017</h3>
                <h3 class="end-date">End Date: 09/08/2017</h3>
            </div>
        </div>

        <div class="class">
            <div class="class-content">
                <h2>Class size: 10</h2>
                <h2>TAs:</h2>
                <ul>
                    <li>Michael</li>
                    <li>Michael</li>
                    <li>Michael</li>
                </ul>
            </div>

            <div class="shell magictime " data-hover="puffOut" data-return="puffIn">
                <div class="bg-helper"></div>
                <img src="../img/profile.jpg" alt="" class="class-bg">
                <h1>前端开发第99期</h1>
                <h2>Instructor: Yan Hong</h2>
                <h3 class="start-date">Start Date: 08/08/2017</h3>
                <h3 class="end-date">End Date: 09/08/2017</h3>
            </div>
        </div>

        <div class="class">
            <div class="class-content">
                <h2>Class size: 10</h2>
                <h2>TAs:</h2>
                <ul>
                    <li>Michael</li>
                    <li>Michael</li>
                    <li>Michael</li>
                </ul>
            </div>

            <div class="shell magictime " data-hover="puffOut" data-return="puffIn">
                <div class="bg-helper"></div>
                <img src="../img/profile.jpg" alt="" class="class-bg">
                <h1>前端开发第99期</h1>
                <h2>Instructor: Yan Hong</h2>
                <h3 class="start-date">Start Date: 08/08/2017</h3>
                <h3 class="end-date">End Date: 09/08/2017</h3>
            </div>
        </div>

        <div class="class">
            <div class="class-content">
                <h2>Class size: 10</h2>
                <h2>TAs:</h2>
                <ul>
                    <li>Michael</li>
                    <li>Michael</li>
                    <li>Michael</li>
                </ul>
            </div>

            <div class="shell magictime pullIn" data-hover="puffIn" data-return="puffIn">
                <div class="bg-helper"></div>
                <img src="../img/profile.jpg" alt="" class="class-bg">
                <h1>前端开发第99期</h1>
                <h2>Instructor: Yan Hong</h2>
                <h3 class="start-date">Start Date: 08/08/2017</h3>
                <h3 class="end-date">End Date: 09/08/2017</h3>
            </div>
        </div>

        <div class="class">
            <div class="class-content">
                <p>Class size: 10</p>
                <h2>TAs:</h2>
                <ul>
                    <li>Michael</li>
                    <li>Michael</li>
                    <li>Michael</li>
                </ul>
            </div>

            <div class="shell magictime " data-hover="puffOut" data-return="puffIn">
                <div class="bg-helper"></div>
                <img src="../img/profile.jpg" alt="" class="class-bg">
                <h1>前端开发第99期</h1>
                <h2>Instructor: Yan Hong</h2>
                <h3 class="start-date">Start Date: 08/08/2017</h3>
                <h3 class="end-date">End Date: 09/08/2017</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>